#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    width: 1240px;
    height: 313px;
    border-radius: 5px;
    /* position: absolute;
    left: 0%;
    right: 0%;
    top: 20%;
    bottom: 0%; */

}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/*début de mon implémentation*/

.photographer_page {
    width: 1440px;
    height: 1024px;
    top: -2550px;
    left: 2186px;
    position: relative;
}

.photographer_name {
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 83px;
    letter-spacing: 0em;
    text-align: left;
    width: 282px;
    height: 83px;
    color:#D3573C;
}

.photographer_localisation {
    font-family: DM Sans;
    height: 400;
    font-style: normal;
    font-size: 24px;
    Line-height: 31,25px;
    color: #901C1C;
    margin: 5%;
}

.photographer_tagLine {
    width: 348px;
    height: 23px;
    top: 133px;
    color: #525252;
    margin: 5%;
}
   

/* .photographer_localisation_block {
    width: 374px;
    height: 113px;
    left: 134px;
    top: 271px;
    border: 2px solid #95FFF9;
    box-sizing: border-box;
} */

.photographer_picture {
   position: absolute;
   left: 79.84%;
   right: 4.03%;
   top: 17.89%;
   bottom: 18.21%;
   width:200px;
   height: 200px;
   background: #C4C4C4;
   border-radius: 50%;
}

/* .photographer_localisation_block {
    position: absolute;
    top: 50%;
    left: 5%;
} */

*, ::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.drop-down-text {
    position: absolute;
    top: 75%;
    left: 7%;

}

.dropdown {
    max-width: 100px;
    height: 63px;
    border-radius: 5px;
    margin: 100px auto;
    color: #f1f1f1;
    background: #901C1C;
    transition: height 0.4s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    top: 60%;
    left: 15%;
}

.bloc-top {
    padding: 20px;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #901C1C;
    color: #f1f1f1;
    cursor: pointer;
    border-radius:  5px;
}
.bloc-top img {
    width: 15px;
}

.bloc-links {
    padding: 0 20px;
}

.bloc-links li {
    list-style: none;
    padding: 5px 0;
}

.bloc-links li a {
    font-size: 13px;
    color: #f1f1f1;
    margin-left: 5px;
}
.bloc-links li:last-child{
    padding-bottom: 20px;
}